{% extends 'common/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="section1 text-center row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="content pt-5">
        <h1>Phoenix WebAwards</h1>
        <h3>By: <em>Phoenix Developers</em></h3>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>

  <div class="projects">
    <h1 class="text-center">Posted projects</h1>
    
    <div class="row text-center">
      {% for project in projects %}
      <div class="col-xs-6 col-md-3 my-3">
        <a href="{% url 'project_details' project_id=project.id%}" class="thumbnail">
          <p><em>{{project.project_title}}</em></p>
          <img src="{{project.screenshot.url}}" class="img-fluid" style="max-height: 200px" alt="Project Display Screenshot">
        </a>
      </div>
      {% endfor %}
    </div>


    <!-- <div class="row text-center">
      <div class="col-xs-6 col-md-3 my-3">
        <a href="#" class="thumbnail">
          <p><em>Project 1</em></p>
          <img src="/static/backgrounds/background1.jpg" class="img-fluid" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3 my-3">
        <a href="#" class="thumbnail">
          <p><em>Project 2</em></p>
          <img src="/static/backgrounds/background1.jpg" class="img-fluid" alt="...">
        </a>
      </div>

      <div class="col-xs-6 col-md-3 my-3">
        <a href="#" class="thumbnail">
          <p><em>Project 3</em></p>
          <img src="/static/backgrounds/background1.jpg" class="img-fluid" alt="...">
        </a>
      </div>

      <div class="col-xs-6 col-md-3 my-3">
        <a href="#" class="thumbnail">
          <p><em>Project 4</em></p>
          <img src="/static/backgrounds/background1.jpg" class="img-fluid" alt="...">
        </a>
      </div>

      <div class="col-xs-6 col-md-3 my-3">
        <a href="#" class="thumbnail">
          <p><em>Project 5</em></p>
          <img src="/static/backgrounds/background1.jpg" class="img-fluid" alt="...">
        </a>
      </div>

      
    </div> -->
  </div>
</div>

{% endblock %}