{% extends 'common/base.html' %}

{% block content %}

  <div class="container">
    
    <div class="row">
      <div class="col-md-5">
        <h4 class="mt-5 btn btn-sm btn-primary">create profile</h4>
      </div>

      {% if profile.profile_photo %}
        <div class="col-md-2">
          <img src="{{profile.profile_photo.url}}" class="img-fluid rounded-circle" alt="Profile picture">
        </div>
      {%else%}
        <div class="col-md-2">
          <img src="/static/backgrounds/profile.png" class="img-fluid rounded-circle" alt="Profile picture">
        </div>
      {% endif%}

      <div class="col-md-5 text-center"></div>
    </div>
    {% if profile.user_bio %}
      <div class="text-center">
        {{profile.user_bio}}
      </div>
    {%else%}
      <div class="text-center">
        <p>No user Bio yet</p>
      </div>
    {%endif%}
    
  </div>

{% endblock%}