{% extends 'common/base.html' %}

{% block content %}

<div class="container-fluid">
  <h2 class="text-center"><em>{{details.project_title}}</em></h2>

  <div class="row">
    
    <div class="col-md-6 col-lg-6">
      <div class="text-center">
        <img src="{{details.screenshot.url}}" class="img-fluid detailimage" alt="project display">
      </div>
    </div>

    <div class="col-md-5 col-lg-5 mt-5">
      <p class="text-center">{{details.project_description}}</p>
      <p><strong><small>Posted on: <em>{{details.date_posted}}</em></small></strong></p>
      <p><small><em>Posted By: <strong>{{details.user}}</strong></em></small></p>
      <a href="{{details.live_link}}" target="_blank"><strong>Live Link</strong></a>

      <form action="" method="POST">
        {% csrf_token %}
        <div>
          <h2 class="text-center">Rate the project</h2>
          <!-- Rating stars -->
          
          <div class="rate">
            <span> Rate the Project Design: </span><br>
            <input type="radio" name="rating" id="Design10" value="10" required><label for="Design10" title="10"></label>
            <input type="radio" name="rating" id="Design9" value="9" required><label for="Design9" title="9"></label>
            <input type="radio" name="rating" id="Design8" value="8" required><label for="Design8" title="8"></label>
            <input type="radio" name="rating" id="Design7" value="7" required><label for="Design7" title="7"></label>
            <input type="radio" name="rating" id="Design6" value="6" required><label for="Design6" title="6"></label>
            <input type="radio" name="rating" id="Design5" value="5" required><label for="Design5" title="5"></label>
            <input type="radio" name="rating" id="Design4" value="4" required><label for="Design4" title="4"></label>
            <input type="radio" name="rating" id="Design3" value="3" required><label for="Design3" title="3"></label>
            <input type="radio" name="rating" id="Design2" value="2" required><label for="Design2" title="2"></label>
            <input type="radio" name="rating" id="Design1" value="1" required><label for="Design1" title="1"></label>

          </div>
          <br>
          <input type="submit" value="Post design rating" class="btn btn-primary btn-sm">
        </div>
      </form>

      <form action="" method="POST">
        {% csrf_token %}
        <div>
          <div class="rate">
            <span> Rate the Project Usability: </span><br>
            <input type="radio" name="rating" id="Usability10" value="10" required><label for="Usability10" title="10"></label>
            <input type="radio" name="rating" id="Usability9" value="9" required><label for="Usability9" title="9"></label>
            <input type="radio" name="rating" id="Usability8" value="8" required><label for="Usability8" title="8"></label>
            <input type="radio" name="rating" id="Usability7" value="7" required><label for="Usability7" title="7"></label>
            <input type="radio" name="rating" id="Usability6" value="6" required><label for="Usability6" title="6"></label>
            <input type="radio" name="rating" id="Usability5" value="5" required><label for="Usability5" title="5"></label>
            <input type="radio" name="rating" id="Usability4" value="4" required><label for="Usability4" title="4"></label>
            <input type="radio" name="rating" id="Usability3" value="3" required><label for="Usability3" title="3"></label>
            <input type="radio" name="rating" id="Usability2" value="2" required><label for="Usability2" title="2"></label>
            <input type="radio" name="rating" id="Usability1" value="1" required><label for="Usability1" title="1"></label>
          </div>
          <br>
          <input type="submit" value="Post usability rating" class="btn btn-primary btn-sm">
        </div>
      </form>

      <form action="" method="POST">
        {% csrf_token %}
        <div>
          <div class="rate">
            <span> Rate the Project Content: </span><br>
            <input type="radio" name="rating" id="Content10" value="10" required><label for="Content10" title="10"></label>
            <input type="radio" name="rating" id="Content9" value="9" required><label for="Content9" title="9"></label>
            <input type="radio" name="rating" id="Content8" value="8" required><label for="Content8" title="8"></label>
            <input type="radio" name="rating" id="Content7" value="7" required><label for="Content7" title="7"></label>
            <input type="radio" name="rating" id="Content6" value="6" required><label for="Content6" title="6"></label>
            <input type="radio" name="rating" id="Content5" value="5" required><label for="Content5" title="5"></label>
            <input type="radio" name="rating" id="Content4" value="4" required><label for="Content4" title="4"></label>
            <input type="radio" name="rating" id="Content3" value="3" required><label for="Content3" title="3"></label>
            <input type="radio" name="rating" id="Content2" value="2" required><label for="Content2" title="2"></label>
            <input type="radio" name="rating" id="Content1" value="1" required><label for="Content1" title="1"></label>
          </div>
          <br>
          <input type="submit" value="Post content rating" class="btn btn-primary btn-sm">
        </div>
      </form>

      <!-- <div class="">
        <h2 class="text-center">Rate the project</h2>
        Design:
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span> <br> <br>

        Usability:
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span> <br><br>

        Content:
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span> <br><br>
      </div> -->

    </div>
  </div>

  <div class="mt-4">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Voted By</th>
          <th scope="col">design score</th>
          <th scope="col">usability score</th>
          <th scope="col">content score</th>
          <th scope="col">Avg Score</th>
        </tr>
      </thead>
      {%for vote in votes%}
      <tbody>
        <tr>
          <td>{{vote.user}}</td>
          <td>{{vote.design_score}}</td>
          <td>{{vote.usability_score}}</td>
          <td>{{vote.content_score}}</td>
          <td>average</td>
        </tr>
      </tbody>
      {%endfor%}
    </table>
    
  </div>

</div>

{% endblock%}